.header--container {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.header--section-one {
  display: flex;
  background: white;
  width: 400px;
}

.header--burger {
  background: black;
  color: white;
  height: 100px;
  width: 100px;
}

.header--burger img {
  padding: 32px;
  height: 35px;
  width: 35px;
}

.header--headline {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

.header--dropdown {
  text-align: center;
  margin-right: 70px;
}
.header--dropdown span {
  font-weight: 600;
}

.header--dropdown:hover .header--content {
  display: flex;
  flex-direction: column;
}

.header--content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: white;
  box-shadow: 10px 8px 20px -8px rgba(0, 0, 0, 0.24);

  z-index: 1;
  text-align: left;
}
.header--content a {
  padding: 4px;
}

.header--burger {
  background: black;
  color: white;
  height: 100px;
  width: 100px;
}

.header--user-info {
  font-weight: 600;
  padding-right: 70px;
}
